<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Thread Manager</title>
    <a href="/" class="float-right btn btn-success col-sm-2">Login</a>
    <a href="/users/signup" class="float-right btn btn-success col-sm-2">Sign Up</a>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="container">
    
<h2>Sign Up User</h2>

<form method="post" role="form">
    <div class="form-group row">
        <label for="username" class="input-group-text col-sm-2">Username:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
    </div> 
    
    <div class="form-group row">
        <label for="password" class="input-group-text col-sm-2">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
    </div> 

    <div class="form-group row">
        <label for="firstname" class="input-group-text col-sm-2">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
        </div>
    </div> 

    <div class="form-group row">
        <label for="lastname" class="input-group-text col-sm-2">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
        </div>
    </div> 

    <div class="form-group float-right">
        <input type="submit" value="Sign Up" class="btn btn-primary">
    </div>
</form>

<% include footer %>